
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'core:base' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'devices:list_devices' %}">Devices</a>
      </li>
    </ul>
   </div>
   <div>
   {% if request.user.is_authenticated %}
    <p> {{ request.user.username }} </p>
    {% else %}
        <a href="{% url 'core:login' %}">LOGIN </a>
    {% endif %}
   </div>
   <div>
  	  <h1 style="font-family: 'Sedgwick Ave Display', cursive; color:white;"> Piotr/S </h1>
  </div>
</nav>
