body {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	font-size: 90%;
    font-family: 'Verdana';
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

#content {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 30px 40px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#contentMenu {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#footer {
  background: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

