{% extends 'core/base.html' %}

{% block content %}
<a href="{% url 'devices:create_device' %}"<button class='btn btn-primary mb-5'>Add device</button></a>

<div class='row'>
	<table class='table'>
		<thead>
			<td>Name</td>
			<td>DC</td>
			<td>IP</td>
			<td>Rack_unit</td>
			<td>Model</td>
			<td>Update</td>
			<td>Delete</td>
		</thead>
		<tbody>
			{% for device in object_list %}
			<tr>
			<td>{{ device.name }}</td>
			<td>{{ device.data_center }}</td>
			<td>{{ device.ip_address }}</td>
			<td>{{ device.rack }}u{{device.unit}}</td>
			<td>{{ device.model }}</td>
			<td><a href="{% url 'devices:update_device' slug=device.slug %}"><button class='btn btn-primary'></button></a></td>
			<td><a href="{% url 'devices:delete_device' slug=device.slug %}"><button class='btn btn-danger'></button></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
